
div > p {
	background-color: red;
}

html, body, p {
	margin: 0;
	padding: 0;
}
body {
	padding: 10px;
}
p {
	margin: 30px 0;
}

#orientation {
	text-align: center;
	font-weight: bold;
	font-size: 120%;
}
html.landscape #orientation:after {
	content: 'LANDSCAPE';
}
html.portrait #orientation:after {
	content: 'PORTRAIT';
}

p[id] {
	padding: 3px 6px;
	margin-left: auto;
	margin-right: auto;
}
#css-S {
	background-color: #faa;
	display: block;
	max-width: 460px;
}
#nocss,
#css-M,
#css-L {
	display:none;
}
